nav {
  background-color: white;
  width: calc(100% - 290px);
  right: 1%;
  position: absolute;
  top: 0;
  border-radius: 5px;
}

i {
  color: #625f6e;
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

button {
  border: 0;
  background-color: transparent;
}

@media (max-width: 992px) {

  nav {
    width: 95%;
    margin-left: 15px!important;
    margin-right: 15px!important;
    right: 0;
  }

}

